<!DOCTYPE html>
<html lang="en">
<head>
    <!--Die Styles.css muss aus allen HTML-Dateien verlinkt werden-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--Es gibt im Internet Dienste, die Styles zur Verfügung stellen. Beispiel: font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    <title>Beckbanking Hilfe</title>
</head>
<body>
    <center><i1 class="fa-solid fa-piggy-bank"></i1></center>
    <header>
        <!--Der Header soll die Seite strukturieren und bekommt entsprechende Style-->
        <a href="index.html"><i class="fa-solid fa-home"></i></a>
        <a href="hilfe.html"><i class="fa-solid fa-phone"></i>Hilfe</a>
        <a href="postfach.html"><i class="fa-solid fa-envelope"></i>Postfach</a>
        <a href="profil.html"><i class="fa-solid fa-user"></i>Profil</a>
        <a href="agb.html"><i class="fa-solid fa-book"></i>AGB</a>
    </header>
    <main>
        <h2>Häufig gestellte Fragen (FAQ)</h2>
    <ul>
        Wie ändere ich mein Passwort?<br>
        Wie überweise ich Geld an ein anderes Konto?<br>
        Wie beantrage ich ein neues Konto?
        <!-- Weitere Fragen hier einfügen -->
    </ul>
    <h2>Kontakt</h2>
    <p>Für weitere Hilfe kontaktieren Sie bitte unseren Mitarbeiter:</p>
    <img src="Kundenberaterin.png">
    <form action="kontaktformular.php" method="post">
        <label for="name">Name: Melina Beckmann</label><br>
        <label for="email">E-Mail-Adresse: melinabeck@gmail.com</label><br>
        <label for="nachricht">Nachricht:</label>
        <textarea id="nachricht" name="nachricht" rows="4" required></textarea>
        <button type="submit">Nachricht senden</button>
    </form>
    </main>
    <footer>
        <div class="social-media">
            <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/deinebank"><img src="instagram_icon.png" alt="Unser Profil auf Instagram"></a>
        </div>
        <div class="bank-homepage">
            <a href="https://www.deinebank.de"><i class="fa-solid fa-house"></i> www.deinebank.de</a>
        </div>
        <div class="kontakt">
            <p>Geschäftsführer: Max Mustermann</p>
            <p>Geschäftssitz: Musterstraße 123, 12345 Musterstadt</p>
            <p>Rechtsform: GmbH</p>
            <p>Kontakt:</p>
            <p>Telefon: 0123 456789</p>
            </i><p>E-Mail: info@deinebank.de</p>
        </div>
    </footer>
</body>
</html>